.auth-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: var(--background);
}

.auth-form-section {
    display: flex;
    flex-direction: column;
    min-width: 400px;

    form {
        width: 100%;
    }
}

.thirdparty-by {
    display: flex;
    justify-content: center;

    button,
    a {
        display: flex;
        align-items: center;
        padding: 0.875rem 2rem;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        color: #fff;
        margin-right: 1rem;
        font-size: 0.875rem;
        font-weight: 600;
        cursor: pointer;

        &:hover {
            box-shadow: none;
        }

        i {
            margin-right: 0.75rem;
            font-size: 1rem;
        }
    }

    .google-btn {

        background-color: #DB4437;

    }

    .facebook-btn {
        background-color: #3b5998;
    }
}

.breaker {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.875rem 0rem;
    position: relative;


    span {
        text-align: center;
        width: 48px;
        z-index: 2;
        background-color: var(--background);
        color: #ccc;
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #ccc;
        z-index: 1;
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    .form-input-field {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &.error {
        input {
            border-color: $error-color;
        }

        i {
            color: $error-color;
        }
    }

    input {
        display: flex;
        width: 100%;
        padding: 0.875rem 1rem;
        font-size: 1rem;
        border: none;
        font-size: 1rem;
        border: 1px solid #f1f1f1;
        border-radius: 5px;
        outline: none;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    i {
        position: absolute;
        top: 30%;
        right: 10px;
        z-index: 1;
        color: #333;
        cursor: pointer;
    }

    .error-feedback {
        display: block;
        color: $error-color;
        font-size: 0.875rem;
        margin: 0.5rem 0rem;
    }
}

.form-btn {
    padding: 0.75rem 2.5rem;
    font-weight: 600;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    font-size: 0.875rem;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
    background-color: #ddd;
    cursor: pointer;
    user-select: none;
    outline: none;

    &.btn-primary {
        background-color: $primary-color;
        color: #fff;
    }

    &:hover {
        transition: all 0.5s ease-in-out;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
}

.form-links {
    padding: 1rem 0rem;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    justify-content: space-between;

    a {
        color: #333;

        &:hover {
            color: $primary-color;
        }
    }
}

.form-title {
    font-size: 1.2rem;
    letter-spacing: 0.2px;
    margin-right: -0.2px;
    text-transform: capitalize;
    margin-bottom: 1rem;
    color: $primary-color;
    border-left: 2px solid $primary-color;
    padding: 0.875rem;
    padding-left: 1.2rem;
    background-color: #f1f1f1;
    border-radius: 5px;
}