.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: $primary-color;
    animation: load 1s linear forwards;
}

@keyframes load {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}