// COLORS -- LIGHT THEME
$primary-color:#2962FF;
$error-color:#f50502;
$errordark-color:#CD0402;
$success-color:#77d082;
$successdark-color:#45BF55;
$text-dark-color:#EFEFEF;
$text-color:#444444;
$sub-text-color:rgba(0, 0, 0, .54);
$text-white:#fff;