.dashboard-settings {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-top: 2rem;

    .dashboard-setting-sidebar {
        display: block;
        position: relative;

        .dashboard-setting-sidebar-lists {
            position: sticky;
            top: 80px;
            list-style: none;
            display: flex;
            flex-direction: column;

            li {
                font-size: 1.2rem;
                padding: 1rem 0rem;
                letter-spacing: 0.2px;
                transition: all 0.5s ease-in-out;
                font-weight: bold;

                &.active,
                &:hover {
                    cursor: pointer;
                    color: $primary-color;
                    user-select: none;
                    outline: none;

                }
            }
        }
    }

    .dashboard-setting-sections {

        .dashboard-setting-section {
            display: block;
            padding: 2rem 1rem;
            background-color: #fff;
            border: 1px solid #ddd;
            margin-bottom: 1rem;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

            &-title {
                font-size: 1.3rem;
                font-weight: bold;
                padding-bottom: 1rem;
                letter-spacing: 0.2px;
                border-bottom: 1px solid #f1f1f1;
                user-select: none;
                outline: none;
            }

            &-sub-title {
                font-size: 1.1rem;
                font-weight: bold;
                padding-bottom: 0.5rem;
                user-select: none;
                outline: none;
                margin-bottom: 0.5rem;
            }

            &-content {
                padding: 1rem 0.5rem;
            }

            &-content-field {
                display: flex;
                justify-content: space-between;
                margin: 1rem 0rem;

                &-label {
                    width: 100%;

                    input {
                        display: block;
                        width: 100%;
                        font-size: 1.2rem;
                        background-color: transparent;
                        border: none;
                    }
                }
            }

        }
    }
}